<div class="accommodation-frame">
  <img class="accommodation-image" src="..\..\assets\images\AccommodationImage.png" />
  <div class="accommodation-info">
    <div class="accommodation-name">{{reservation.accommodationName}}</div>
    <div class="desc">
      <p class="description-text">
        {{reservation.guestName}}
      </p>
    </div>
    <div>{{reservation.reservationStatus}}</div>
    <div class="info">
      <div class="text-wrapper">{{reservation.reservedDate.startDate + "  " + reservation.reservedDate.endDate}}</div>
      <div class="group">
        <div class="div">{{reservation.price}}</div>
        <img class="star" src="..\..\assets\images\star.png" />
      </div>
    </div>
  </div>
  <div id="buttons">
    <button mat-mini-fab   style="background-color: green;color: white;margin-top: 50%" aria-label="Example icon button with a menu icon" (click)="acceptReservation()">
      <mat-icon>check</mat-icon>
    </button>
    <button mat-mini-fab   style="background-color: red;color: white;margin-top: 50%" aria-label="Example icon button with a menu icon" (click)="rejectReservation()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>
