<app-header></app-header>
<div class="accommodation-list">
  <p id="discover">Reservation requests</p>
  <button mat-button  id="submitButton" routerLink="/host-resolve-accommodation-request">Resolve requests</button>
  <hr>
  <a>
    <mat-list>
      <app-host-reservation-request-card *ngFor="let reservation of reservations" [reservation]="reservation"></app-host-reservation-request-card>
    </mat-list>
    <mat-paginator [length]="totalNumberOfElements"
                   [pageSize]="10"
                   [pageSizeOptions]="[2, 5, 10, 25, 100]"
                   (page)="onPageChange($event)"
                   aria-label="Select page">

    </mat-paginator>
  </a>
</div>
