<mat-toolbar class="navbar">
  <a [routerLink]="['home']">
  <img class="image" src="..\..\assets\images\logo.png" />
  </a>
  <div class="search-frame">
    <img class="img" src="..\..\assets\images\location_city.png" />
    <form class="cities-form">
        <input  id="city-input" type="text"
                placeholder="City"
               matInput
               [formControl]="myControl"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async; track option"  [value]="option">{{option}}</mat-option>
        </mat-autocomplete>
    </form>
    <img class="line" src="..\..\assets\images\Line 1.png" />
      <mat-date-range-input [rangePicker]="picker" style="min-width: 240px;" >
        <input matStartDate placeholder="Start date" [readonly]="true" style="font-size: 16px;" #startDateInput>
        <input matEndDate placeholder="End date" [readonly]="true" style="font-size: 16px;" #endDateInput>
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-date-range-picker #picker ></mat-date-range-picker>
    <img class="line" src="..\..\assets\images\Line 1.png" />
    <img class="img" src="..\..\assets\images\people_alt.png" />
    <input id="guests-input" type="number" min="1" max="50" #guestsInput>
    <div style="display: flex">
      <button (click)="handleSearch()">
        <mat-icon>search</mat-icon>
      </button>
      <button routerLink="userProfile">
        <mat-icon>search</mat-icon>
      </button>
      <button  (click)="openDialog()">
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>
  </div>
  <button [matMenuTriggerFor]="menu">
  <div class="account-button" >
    <img class="img" src="..\..\assets\images\menu_24px.png" />
    <img class="icons-account-circle" src="..\..\assets\images\account_circle_filled_24px.png" />
  </div>
</button>
<mat-menu class="account-menu" #menu="matMenu">
  <button mat-menu-item (click)="onAccountButtonClick()">Login</button>
  <button mat-menu-item routerLink="/registration">Register</button>
  <button mat-menu-item routerLink="/accommodation-creation">New accommodation</button>
  <button mat-menu-item routerLink="/accommodation-requests">View acc requests</button>
</mat-menu>
</mat-toolbar>
