<div class="accommodation-frame" [routerLink]="['accommodationView']">
  <img class="accommodation-image" src="..\..\assets\images\AccommodationImage.png" />
  <div class="accommodation-info">
    <div class="accommodation-name">{{summary.accommodationName}}</div>
    <div class="desc">
      <p class="description-text">
        {{summary.accommodationDescription}}
      </p>
    </div>
    <div class="info">
      <div class="text-wrapper">{{summary.type}}</div>
      <div class="group">
        <img class="star" src="..\..\assets\images\star.png" />
      </div>
    </div>
  </div>
