<div id="page">
  <div class="main">
    <div class="details">
      <div style="width: 80%; display: flex;">
      <div id="accommodation-name">{{ accommodationDetails.name }}&nbsp;&nbsp;</div>
      <div class="div-4">
        <mat-icon style="margin-top: 3%;">location_on</mat-icon>
        <div id="location">{{ accommodationDetails.location.city }}, {{ accommodationDetails.location.country }}</div>
      </div>
      </div>
      <div class="div-6">
        <a [routerLink]="['/host-details', accommodationDetails.hostUsername]"><p id="owner">Owner: {{ hostName }}</p></a>
        <p id="rating">{{accommodationDetails.rating.toFixed(1)}}</p>
        <!-- <p id="rating">{{ accommodationDetails.rating }}</p> -->
        <mat-icon style="margin-top: 2%; transform: scale(1.3);">star</mat-icon>
      </div>
    </div>
    <div class="div-9">
      <div class="div-10">
        <div class="carousel-container">
          <button (click)="prevImage()" class="arrow-button">&#8249;</button>
          <img class="picture" [src]="currentPhoto" alt="Accommodation Image">
          <button (click)="nextImage()" class="arrow-button">&#8250;</button>
        </div>
    </div>
    <div class="res-desc">
      <div class="div-13">
        <form id="reservation-box">
          <mat-form-field appearance="outline" class="reservation-field">
            <mat-label>Check-in</mat-label>
            <input matInput [matDatepicker]="checkinPicker" [matDatepickerFilter]="filterDates" #checkinInput [(ngModel)]="checkinDate" name="checkinDate">
            <mat-datepicker-toggle matSuffix [for]="checkinPicker"></mat-datepicker-toggle>
            <mat-datepicker #checkinPicker></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Check-out</mat-label>
            <input matInput [matDatepicker]="checkoutPicker" [matDatepickerFilter]="filterDates" #checkoutInput [(ngModel)]="checkoutDate" (ngModelChange)="onCheckoutDateChange()" name="checkoutDate">
            <mat-datepicker-toggle matSuffix [for]="checkoutPicker"></mat-datepicker-toggle>
            <mat-datepicker #checkoutPicker></mat-datepicker>
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Add guests</mat-label>
            <input matInput type="number" min="1" [max]="maxGuests" value="1" #guestsInput [(ngModel)]="guests" (ngModelChange)="onGuestsChange()" name="guests">
          </mat-form-field>
          <!-- <app-reservation
            [reservation]="reservation"
            (reserveClicked)="onReserveClicked(checkinInput.value, checkoutInput.value, guestsInput.value)"
          ></app-reservation> -->
          <div class="price-field">
            <p id="total-price">Total Price: {{ totalPrice | currency }}</p>
          </div>
          <div>
            <button (click)="onReserveClicked(checkinInput.value, checkoutInput.value, guestsInput.value)" id="reserve-button">Reserve</button> <!--ne pravim novu komponentu za rezervacije jer kad sam tako radio izazove mi negde overflow u memoriji a nisamo mogao naci kako da to resim-->
          </div>
        </form>
        <div class="div-22">
          <div id="description-text">{{ accommodationDetails.description }}</div>
        </div>
      </div>
    </div>
    <mat-card id="amenities-list">
      <mat-card-header>
        <mat-card-title>Amenities</mat-card-title>
        <mat-card-subtitle>This accommodation includes:</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ accommodationDetails.amenities }}</p> <!--.join('<br>') mozda mora da se doda nekako-->
      </mat-card-content>
    </mat-card>

    <div id="map-container">
      <app-map-insertion [searchInput]="mapLocation"></app-map-insertion>
    </div>

    <div id="comments-title">
      <div class="div-29">
        <div class="div-30">Guest Reviews</div>
        <div class="div-31">{{accommodationDetails.rating.toFixed(1)}}</div>
        <mat-icon>star</mat-icon>
      </div>
      <div class="div-32">
          <button id="comment-button" *ngIf="role=='ROLE_Guest'" (click)="toggleCommentField()" mat-flat-button>Comment<mat-icon> add_comment</mat-icon> </button>
      </div>
    </div>
    <mat-card *ngIf="showCommentField">
      <form [formGroup]="reviewForm">
    <mat-form-field id="comment-field">
      <input matInput placeholder="Write a comment" formControlName="comment">
        <button matSuffix mat-icon-button aria-label="Clear" type="submit" (click)="createReview()">
          <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
    <p style="margin-left: 1%; font-size: 16px; font-weight: bold;">Rating: {{rating}}/5</p>
    <div style="display: flex;">
    <button mat-icon-button [color]="'accent'" *ngFor="let ratingId of ratingArr;index as i" [id]="'star_'+i" (click)="onClick(i+1)">
      <mat-icon style="color: #969000;">
        {{showIcon(i)}}
      </mat-icon>
    </button>
    </div>
    </form>
    </mat-card>
    <mat-list id="comment-list">
      <review-card *ngFor="let review of reviews" [blockPermission]="reviewPermission" [accommodationDetails]="accommodationDetails" [review]="review" (deleteReviewEvent)="onDeleteReview($event)"></review-card>
    </mat-list>
  </div>
</div>
