<app-header></app-header>
<div class="accommodation-list">
<p id="discover">Apartments near you</p>
<hr>
<a>
<div class="accommodation-frame">
    <img class="accommodation-image" src="..\..\assets\images\AccommodationImage.png" />
    <div class="accommodation-info">
      <div class="accommodation-name">Lux Apartment Stari Grad</div>
      <p class="description-text">
        Located in Novi Sad, a 13-minute walk from SPENS Sports Center and one mile from Promenada Shopping Mall,
        Cosmopolitan Hideaway offers air conditioning.
      </p>
      <div class="info">
        <div class="text-wrapper">80$ per night</div>
        <div class="group">
          <div class="div">4.5</div>
          <img class="star" src="..\..\assets\images\star.png" />
        </div>
      </div>
    </div>
  </div>
</a>
</div>