<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Galada' rel='stylesheet'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div id="main">
<div id="container">
        <div style="display: flex; justify-content: center;">
            <h2><i class="material-icons">room_service</i>Zimmerman</h2>
        </div>
        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <p style="color: green; font-weight: bold; font-size: 30px;" *ngIf="successful">{{message}}</p>
        <p style="color: red; font-weight: bold; font-size: 30px;" *ngIf="!successful">{{message}}</p>
        <p style="font-size: 20px;" *ngIf="successful">Now you can login to your account</p>
        <p style="font-size: 20px;" *ngIf="!successful">You need to repeat the registration process</p>
        </div>
</div>
</div>