<div class="log-in-pop-up">
    <div class="div">
      <div class="text-wrapper">Log in</div>
      <div class="text-field">
        <div class="state-layer-wrapper">
          <div class="state-layer">
            <div class="content">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email">
              </mat-form-field>
            </div>
        </div>
      </div>
      </div>
      <div class="text-field-2">
        <div class="state-layer-wrapper">
          <div class="state-layer">
            <div class="content">
              <mat-form-field class="example-full-width"appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter your password">
              </mat-form-field>
            </div>
          </div>
        </div>
        <button mat-flat-button>Log in</button>
      </div>
      <a>
      <div class="text-wrapper-2">Don’t have an account?</div>
      </a>
  </div>
</div>