<mat-card class="comment-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title><span class="reviewer-name">George</span>&nbsp;&nbsp;&nbsp;<span class="review-rating">4.5</span><mat-icon style="transform: scale(0.8);">star</mat-icon></mat-card-title>
        <mat-card-subtitle>24.5.2023</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Im really satisfied with this apartment, it is close to city centre and owner is helpful.
    </mat-card-content>
  </mat-card>
