<div id="main-div">
  <p>Period: {{ startDate | date:'medium' }} - {{ endDate | date:'medium' }}</p>
  <label>
    <input type="checkbox" [(ngModel)]="weekendPrice" disabled="true"> Weekend
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="summerPrice" disabled="true"> Summer
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="holidayPrice" disabled="true"> Holiday
  </label>
  <label>
    <input type="checkbox" [(ngModel)]="winterPrice" disabled="true"> Winter
  </label>
</div>
