.accommodation-frame {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px 0px;
    position: relative;
    background-color: #ffffff;
    width: 25%;
    min-width: 765px;
    margin-top: 2%;
    border-radius: 30px; /* Adjust the value for rounded corners */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1); /* Elevation shadow */
  }
  
  .accommodation-frame .accommodation-image {
    position: relative;
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  
  .accommodation-frame .accommodation-info {
    display: flex;
    flex-direction: column;
    width: 344px;
    height: 90%;
    align-items: flex-start;
    padding: 0px 10px;
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
  }
  
  .accommodation-frame .accommodation-name {
    position: relative;
    width: fit-content;
    margin-top: 0;
    font-family: "Arial", Helvetica;
    font-weight: 900;
    color: #969000;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .desc {
    height: 100%;
  }

  .accommodation-frame .description-text {
    position: relative;
    transform: rotate(0.32deg);
    margin-top: 10%;
    font-family: "Arial";
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
  }
  
  .accommodation-frame .info {
    display: flex;
    align-items: center;
    gap: 120px;
    position: relative;
    background-color: #ffffff;
  }
  
  .accommodation-frame .text-wrapper {
    position: relative;
    width: fit-content;
    font-family: "Arial", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0.5px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .accommodation-frame .group {
    position: relative;
    width: 70px;
    height: 30px;
  }
  
  .accommodation-frame .div {
    position: absolute;
    height: 24px;
    top: 3px;
    left: 0;
    font-family: "Arial-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .accommodation-frame .star {
    position: absolute;
    width: 29px;
    height: 27px;
    top: 0;
    left: 39px;
  }
  