<div class="accommodation-frame" [routerLink]="['accommodationView']">
    <img class="accommodation-image" src="..\..\assets\images\AccommodationImage.png" />
    <div class="accommodation-info">
      <div class="accommodation-name">{{summary.name}}</div>
      <div class="desc">
      <p class="description-text">
        {{summary.description}}
      </p>
      </div>
      <div class="info">
        <div class="text-wrapper">{{summary.price}}$ per night</div>
        <div class="group">
          <div class="div">{{summary.rating}}</div>
          <img class="star" src="..\..\assets\images\star.png" />
        </div>
      </div>
    </div>
  </div>
