<div id="page-div">
  <div id = "main-div">
    <div class = "inside-div">
      <p style="margin: 5%"><strong>Contents</strong></p>
      <div class="flex-div">
        <mat-checkbox class="inside-flex1"/>
        <span>Free wifi</span>
      </div>
      <div class="flex-div">
        <mat-checkbox class="inside-flex1"/>
        <span>Air conditioner</span>
      </div>
      <div class="flex-div">
        <mat-checkbox class="inside-flex1"/>
        <span>Swimming pool</span>
      </div>
      <div class="flex-div">
        <mat-checkbox class="inside-flex1"/>
        <span>Kitchen</span>
      </div>
    </div>
    <div class = "inside-div">
      <p style="margin: 5%"><strong>Type</strong></p>
      <div>
        <mat-checkbox class="inside-flex1"/>
        <span>Apartment</span>
      </div>
      <div>
        <mat-checkbox class="inside-flex1"/>
        <span>Cabint</span>
      </div>
      <div>
        <mat-checkbox class="inside-flex1"/>
        <span>Studio</span>
      </div>
      <div>
        <mat-checkbox class="inside-flex1"/>
        <span>Villa</span>
      </div>
    </div>
    <div id="price-div">
      <p style="margin-top: 10%"><strong>Price</strong></p>
      <form style="display: flex; flex-direction: column;" >
        <mat-form-field class="price-form-field" appearance="outline">
          <mat-label>Min price</mat-label>
          <input matInput #first>
        </mat-form-field>
        <mat-form-field class="price-form-field" appearance="outline">
          <mat-label>Max price</mat-label>
          <input matInput #last>
        </mat-form-field>
      </form>
    </div>
  </div>
  <button id="edit-button" mat-button>Apply filters</button>

</div>
