<div class="wrapper" *ngIf="isPopupVisible">
  <div class="log-in-pop-up">
    <form class="div" [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="upper" style="height: 10%;display: flex; justify-content:end;">
        <button mat-icon-button (click)="closePopup()">
        <mat-icon>close</mat-icon>
      </button>
      </div>
      <div class="text-wrapper">Log in</div>
      <div class="text-field">
        <div class="state-layer-wrapper">
          <div class="state-layer">
            <div class="content">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email" name="username" formControlName="username">
              </mat-form-field>
            </div>
        </div>
      </div>
      </div>
      <div class="text-field-2">
        <div class="state-layer-wrapper">
          <div class="state-layer">
            <div class="content">
              <mat-form-field class="example-full-width"appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter your password" type="password" name="password" formControlName="password">
              </mat-form-field>
            </div>
          </div>
        </div>
        <button mat-flat-button type="submit">Log in</button>
      </div>
      <a routerLink="/registration">
      <div class="text-wrapper-2">Don’t have an account?</div>
      </a>
    </form>
  </div>
</div>