<ng-container *ngFor="let rootNode of separatedTrees">
    <div class="tree" style="margin-top: 150px; padding-left: 50px;">
        <button (click)="buttonClick(rootNode[0].serialNumber)" style="padding-left: 20px;">{{ rootNode[0].serialNumber }}</button>
        <button (click)="buttonClick(rootNode[0].serialNumber)" style="padding-left: 20px; font-weight: 5px; ">
            [+]
                <!-- <img class="icons-account-circle" src="..\..\assets\images\add_button.png" style="size: 20px;"/> -->
        </button>
        <app-tree-level [nodes]="rootNode[0].children" [level]="0"></app-tree-level>
    </div>
</ng-container>