<div class="wrapper">
    <ng-container *ngFor="let rootNode of separatedTrees">
        <div class="tree">
            <h1>{{ rootNode[0].serialNumber }}</h1>
            <!-- <button (click)="buttonClick(rootNode[0].serialNumber)" style="padding-left: 20px;"><h1>{{ rootNode[0].serialNumber }}</h1></button> -->
            <button (click)="buttonClickAddNode(rootNode[0])">
                <!-- <a href="https://www.flaticon.com/free-icons/add" title="add icons">Add icons created by reussy - Flaticon</a> -->
                <img src="..\..\assets\images\more.png" alt="Add icons created by reussy - Flaticon" title="Add Button - Created by reussy from Flaticon">    
            </button>
            <app-tree-level [nodes]="rootNode[0].children" [level]="0"></app-tree-level>
        </div>
    </ng-container>
</div>